Written by Mink Spronk (GitHub: Minko1998) for SimpleText @ CLEF 2022

In [27]:
import pandas as pd
import numpy as np
df = pd.read_csv("simpletext_task2_train.csv")
df.head()

,Unnamed: 0,snt_id,source_snt,doc_id,query_id,query_text
0,0,G01.2_1448624402_1,As extensive experimental research has shown i...,1448624402,G01.2,Biases
1,1,G01.2_1448624402_1,As extensive experimental research has shown i...,1448624402,G01.2,Biases
2,2,G01.2_1448624402_2,In our paper we analyze the effects of decisio...,1448624402,G01.2,Biases
3,3,G01.2_1448624402_2,In our paper we analyze the effects of decisio...,1448624402,G01.2,Biases
4,4,G01.2_1448624402_3,"In the simulations, managerial decisions which...",1448624402,G01.2,Biases

In [69]:
df = df.drop_duplicates(subset = ['source_snt'])
text = df.source_snt.to_list()
word_count = {}

for line in text:
    line = line.split()
    for word in line:
        word.strip()
        if word not in word_count:
            word_count[word] = 1
        else:
            word_count[word] += 1
word_count = dict(sorted(word_count.items(), key=lambda item: item[1], reverse = True))
word_count

In [71]:
# 
import spacy
from bisect import insort

sp = spacy.load('en_core_web_sm')
scores = {}
per_line = []
for i, line in enumerate(df.source_snt):
    
    line.split()
    for j, word in enumerate(line):
        word.strip()
        score = word_count[word]